@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #f7f467, #ff5252);        
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.screen__content h1 {
    margin-top:20px; /* ปรับค่าตามที่ต้องการ */
    margin-bottom: 5px; /* เพิ่มระยะห่างด้านล่างถ้าต้องการ */
    text-align: center; /* ทำให้ข้อความอยู่กลาง */
}


.profile-img {
    width: 40%; /* ทำให้กว้าง 100% ของพื้นที่ที่มี */
    max-width: 300px; /* ตั้งค่าขนาดสูงสุด */
    height: auto; /* รักษาสัดส่วน */
    display: block; /* แสดงเป็นบล็อก */
    margin: 30px auto; /* จัดกลางและเพิ่มระยะห่างด้านบนและด้านล่าง */
    margin-bottom: -70px
}



.screen {        
    background: linear-gradient(90deg, #fca23c, #fb2010);        
    position: relative;    
    height: 710px;
    width: 360px;    
    box-shadow: 0px 0px 24px #ffee36;
    
}

.screen__content {
    z-index: 1;
    position: relative;    
    height: 100%;
}

.screen__background {        
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);    
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;    
    top: -50px;
    right: 120px;    
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #fca23c;    
    top: -172px;
    right: 0;    
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #fca23c, #fb2010);
    top: -24px;
    right: 0;    
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #fb2010;    
    top: 420px;
    right: 50px;    
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 100px;
}

.login__field {
    padding: 20px 0px;    
    position: relative;    
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #ffee00;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 20px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000000;
    box-shadow: 0px 2px 2px #ffee00;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #fbfd62;
}

select {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    
}

select:focus {
    outline: none;
    border-bottom-color: #6A679E;
}

select option {
    color: #ff0000; 
}

.login select {
    margin-bottom: 20px; 
}

.login label {
    display: block; 
    margin-bottom: 1px; 
}


